@model IleriRepository.Data.Personel

@{
    ViewData["Title"] = "Details";
}




<h4>Personel Detayları</h4>
<hr />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-7">
            <img style="text-align:center" src="@Model.ImgUrl" width="250px" height="300px" />
        </div>
        <div class="col-md-7">
            <p>@Model.FullName() (@Model.GetAge())</p>
        </div>
        <div class="col-md-7">
            <address>
                @foreach(var item in Model.GetAddress())
                {
                    <p>@item</p> <br />
                }
            </address>
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
